#news-articles {
  max-height: 250px;
  overflow-y: auto;
  resize: vertical;
}
@media (max-width: 767.98px) {
  #news-articles {
    height: 300px;
  }
}
.rounded-large {
  border-radius: 12px;
}

#watchlistViewBtn {
  transform-origin: center;
  margin-left: -26px;
  vertical-align: top;
  transform: rotate(90deg);
}

#watchListCardContainer {
  max-width: 255px;
  height: 300px;
  overflow-y: scroll !important;
}

#watchlistViewBtnContainer {
  height: 300px;
  max-width: 30px !important;
}

#sidebar-column {
  max-width: 15%;
  position: relative;
}
/* 
#display-sidebar-btn {
  position: fixed;
  top: 100px;
  left: 0px;
  z-index: 2;
} */
/* 
@media (max-width: 767.98px) {
  #sidebar-column {
    max-width: 30%;
    position: absolute;
    z-index: 22;
  }
} */
