/* .watch-list-item:hover {
  background-color: rgb(14, 14, 14);
}

.watch-list-item-btn {
  visibility: hidden;
  background-color: inherit;
  border: none;
}

.watch-list-item:hover .watch-list-item-btn {
  visibility: visible;
} */
